#layout-level {
  height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header, footer, main {
  padding: 1rem;
}

main {
  max-width: 100%;
}

header {
  margin-bottom: 1rem;
}
header h1 {
  margin: 0;
  color: white;
}

header, footer {
  background-color: #663399;
}
header > *, footer > * {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  color: white;
}

#pages {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}

#w50, .w50 {
  width: 50%;
}

h4 {
  margin-bottom: 0.5rem;
}

#timer-page-layout, .report-page-layout {
  display: flex;
  flex-direction: column;
}

#timer-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.distraction-timer h4 {
  color: blue;
}
.distraction-timer div {
  color: blue;
}

.panel-button {
  width: 33%;
  padding: 15px;
}

#custom-time {
  width: 66%;
  display: flex;
  flex-direction: row;
}

#custom-time:hover {
  background-color: #f5f8fa;
}

.timer-face {
  position: relative;
  height: 40px;
  padding: 6px 0 0 0;
  border: 1px solid rgba(16, 22, 26, 0.2);
  border-radius: 3px;
  background-color: #b3b3b3;
  color: black;
}

.timer-face > p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

#timer-page-timer {
  margin: 1rem 0;
}

#time {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

#timerFace-div {
  display: flex;
  flex-direction: column;
}

.report-page-layout > :nth-child(1) {
  margin-bottom: -15px;
  z-index: 10;
}

#report-timers {
  display: flex;
  flex-direction: row;
}

#report-buttons {
  width: 100%;
  margin-top: 1rem;
}
#report-buttons > * {
  width: 50%;
}
#report-buttons * {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  header, footer {
    margin-bottom: 0;
  }
  header > *, footer > * {
    padding: 0.25rem 0;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #timer-page-layout, .report-page-layout {
    flex-direction: row;
  }

  .panel-button {
    width: 20%;
  }

  #custom-time {
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  #timer-page-timer {
    margin: 0 0 0 1rem;
  }

  #report-buttons {
    margin-top: 0;
    width: 30%;
  }

  .report-page-layout {
    flex-wrap: wrap;
  }
  .report-page-layout > * {
    padding: 5px;
  }
  .report-page-layout > :nth-child(1) {
    order: 1;
    width: 100%;
    margin-bottom: 0;
  }
  .report-page-layout > :nth-child(2) {
    order: 2;
    max-width: 20%;
    margin-top: -10px;
  }
  .report-page-layout > :nth-child(2) * {
    max-width: 100%;
  }
  .report-page-layout > :nth-child(3) {
    order: 3;
    width: 20%;
  }
  .report-page-layout > :nth-child(5) {
    order: 4;
    width: 30%;
  }
  .report-page-layout > :nth-child(6) {
    order: 5;
    width: 30%;
  }
  .report-page-layout > :nth-child(4) {
    order: 6;
    width: 70%;
    margin-bottom: -25px;
  }
  .report-page-layout > :nth-child(7) {
    order: 7;
    width: 30%;
  }
}

/*# sourceMappingURL=styles.css.map */
